# Prevent file > 100MB
/*/.terraform/*

# Prevent shearing credentials (key and secret value)
*/provider.tf
.history/*

# Prevent shearing credentials (key and secret key) through State files
/*/*.tfstate
/*/*.tfstate.*

# Prevent shearing SSH secret key
*/*.pem